on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  REGISTRY: registry.naijavax.com
  SERVICE_NAME: testapi
  CHARTS_DIR: ./charts/
  ENVIRONMENT: development

jobs:
   build:
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v3
         - name: Test
           run: echo "$REGISTRY/$SERVICE_NAME:${{ event.run_id }}"

         - uses: Azure/docker-login@v1
           with:
              login-server: $REGISTRY
              username: ${{ secrets.REGISTRY_USERNAME }}
              password: ${{ secrets.REGISTRY_PASSWORD }}

         - run: |
              docker build . -t $REGISTRY/$SERVICE_NAME:${{ event.run_id }}
              docker push $REGISTRY/$SERVICE_NAME:${{ event.run_id }}

         - uses: Azure/k8s-set-context@v1
           with:
              kubeconfig: ${{ secrets.KUBE_CONFIG }}

#          - uses: Azure/k8s-create-secret@v1
#            with:
#               container-registry-url: contoso.azurecr.io
#               container-registry-username: ${{ secrets.REGISTRY_USERNAME }}
#               container-registry-password: ${{ secrets.REGISTRY_PASSWORD }}
#               secret-name: demo-k8s-secret

         - uses: azure/k8s-bake@v2.2
           with:
              renderEngine: 'helm'
              helmChart: '$CHARTS_DIR'
              overrideFiles: '$CHARTS_DIR/values.yaml'
              overrides: |
                 fullnameOverride=$SERVICE_NAME
                 release=$ENVIRONMENT
                 image.repository=$REGISTRY/$SERVICE_NAME:${{ event.run_id }}
              helm-version: 'latest'
           id: bake

         - uses: Azure/k8s-deploy@v1
           with:
              manifests: ${{ steps.bake.outputs.manifestsBundle }}
#               images: |
#                  $REGISTRY/$SERVICE_NAME:${{ event.run_id }}
#               imagepullsecrets: |
#                  demo-k8s-secret
